/*general fonts*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*button*/
.btn.btn-primary {
    background-color: #2155CD;
    border-color: #2155CD;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*navbar with logo*/

.logo {
    height: 50px;
    margin-left: 20px;
    text-align: left;
}

.logo:hover {
    transform: scale(1.2);
}

.navbar,
.nav {
    background-color: #2155CD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0px -9px 24px -3px rgba(230, 230, 230, 0.74);
}

.navbar-expand-md .navbar-collapse {
    padding-left: 75px;
    justify-content: flex-end;
    padding-right: 150px;
}

.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.nav-link {
    color: #e6e6e6;
}

a.nav-link:hover {
    color: #e6e6e6;
    text-decoration: underline;
}

.navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: #e6e6e6;
    margin-right: 10px;
}