/*general fonts*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*button*/
.btn.btn-primary {
    background-color: #2155CD;
    border-color: #2155CD;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*navbar with logo*/

.logo {
    height: 50px;
    margin-left: 20px;
    text-align: left;
}

.logo:hover {
    transform: scale(1.2);
}

.navbar,
.nav {
    background-color: #2155CD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: inset 0px -9px 24px -3px rgba(230, 230, 230, 0.74);
}

.nav {
    margin-bottom: 10px !important;
}

.navbar-expand-md .navbar-collapse {
    padding-left: 75px;
    justify-content: flex-end;
    padding-right: 150px;
}

.nav-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.nav-link {
    color: #e6e6e6;
}

a.nav-link:hover {
    color: #e6e6e6;
    text-decoration: underline;
}

.navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: #e6e6e6;
    margin-right: 10px;
}

/*landing page image*/
.card.text-bg-dark {
    box-shadow: none;
    margin-top: 0px;
    --bs-card-border-color: none;
    --bs-card-border-width: none;
    --bs-card-border-radius: none;
}

.text-bg-dark {
    text-shadow: 3px 1px 2px #000;

}

.card-img-overlay {
    top: 320px !important;
    left: 180px !important;
}

/*animates zoom effect on landing page image*/
.card-img {
    animation-name: banner-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*creates the level of zoom for landing page image*/
@keyframes banner-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*about section*/
#landing-about {
    background-color: #e6e6e6;
    padding-top: 20px;
    padding-bottom: 30px;
}

/*explore section*/
#landing-explore {
    padding-top: 20px;
}

.explore-section {
    padding-bottom: 20px;
}

/*cards in the explore section*/
.card {
    box-shadow: 5px 5px 5px 3px rgba(33, 85, 205, 0.62);
    margin-top: 20px;
}

.card-title {
    font-size: 1.2rem;
}

.card-body {
    background-color: #e6e6e6;
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-footer {
    background-color: #e6e6e6 !important;
    border: none !important;
}

/*impression section*/
#landing-impressions {
    padding-top: 20px;
}

.carousel {
    box-shadow: 5px 5px 5px 3px rgba(33, 85, 205, 0.62);
}

/*contact section*/
#landing-contact {
    background-color: #e6e6e6;
    padding-top: 30px;
    padding-bottom: 20px;
}

.form-label,
.form-check-label {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

#submit-button,
.form-check {
    margin-top: 10px;
}

/*footer section*/
.footer-section {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #2155CD;
}

.footer-link {
    color: #e6e6e6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.footer-link {
    text-decoration: none;
}

a.footer-link:hover {
    text-decoration: underline;
}

/*media queries*/

/*for lager to medium screens size from 1350px wide and down*/
@media screen and (max-width: 1350px) {
    .card-img-overlay {
        top: 120px !important;
    }
}

/*for medium screens size from 767px wide and down*/
@media screen and (max-width: 767px) {
    .card-img-overlay {
        top: 80px !important;
        left: 80px !important;
    }
}

/*for medium screens size from 590px wide and down*/
@media screen and (max-width: 590px) {
    .card-img-overlay {
        top: 40px !important;
        left: 50px !important;
    }
}

/*for small screens size from 420px wide and down*/
@media screen and (max-width: 420px) {
    .card-img-overlay {
        top: 15px !important;
        left: 50px !important;
    }

    .card-img-overlay .btn.btn-primary {
        display: none !important;
    }
}

/*for small screens size from 360px wide and down*/
@media (max-width: 360px) {
    .card-img-overlay {
        display: none;
    }
}